
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    IEnumerable<NA.IServicio.InformeAntropometrico.Dto.InformeAntropometricoDto> Informes = ViewData["Informes"] as IEnumerable<NA.IServicio.InformeAntropometrico.Dto.InformeAntropometricoDto>;
}

<h1 style="text-align:center">Controles</h1>


<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tabla de controles realizados</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Nuestros controles</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <th>Observacion</th>
                            <th>Detalle</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Informes)
                        {
                            <tr>
                                <td>
                                    @item.Fecha.ToShortDateString()
                                </td>
                                <td>
                                    @item.Observacion
                                </td>
                                <td>
                                    <a class="btn btn-success btn-xl text-uppercase"
                                       data-val1="@item.PorcentajeGrasa"
                                       data-val2="@item.PorcentajeMusculo"
                                       data-val3="@item.KilosGrasa"
                                       data-val4="@item.KilosMusculo"
                                       href=""
                                       data-toggle="modal" 
                                       data-target="#modalVerDetalle">Ver</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modalVerDetalle" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Detalle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="grid">
                        <div class="grid-item">
                            <p>Porcentaje Grasa</p>
                            <div class="modal-bodyGrasa">
                            </div>
                        </div>
                        <div class="grid-item">
                            <p>Porcentaje Musculo</p>
                            <div class="modal-bodyMusculo">
                            </div>
                        </div>
                        <div class="grid-item">
                            Kilos Grasa</p>
                            <div class="modal-bodyGrasaKilos">
                            </div>
                        </div>
                        <div class="grid-item">
                            <p>Kilos Musculo</p>
                            <div class="modal-bodyMusculoKilos">
                            </div>
                        </div>
                    </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <button type="button" class="btn btn-primary">Exportar Detalle</button>
                    </div>
                </div>
        </div>
    </div>
    <!-- End Modal -->
</div>
<!-- /.container-fluid -->